# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
*.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
WLBannerViewDemo/Podfile
WLBannerViewDemo/Podfile.lock
WLBannerViewDemo/Pods/Manifest.lock
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/NSBezierPath+RoundedCorners.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/NSButton+WebCache.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/NSData+ImageContentType.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/NSImage+Compatibility.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDAnimatedImage.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDAnimatedImageRep.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDAnimatedImageView+WebCache.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDAnimatedImageView.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDAsyncBlockOperation.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDDiskCache.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageAPNGCoder.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageAssetManager.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCache.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCacheConfig.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCacheDefine.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCachesManager.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCachesManagerOperation.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCoder.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCoderHelper.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageCodersManager.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageFrame.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageGraphics.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageHEICCoder.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageHEICCoderInternal.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageIOAnimatedCoder.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageIOAnimatedCoderInternal.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageIOCoder.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageLoader.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageLoadersManager.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDImageTransformer.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDInternalMacros.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDMemoryCache.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDmetamacros.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWeakProxy.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImage.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageCacheKeyFilter.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageCacheSerializer.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageCompat.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageDefine.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageDownloader.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageDownloaderConfig.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageDownloaderOperation.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageDownloaderRequestModifier.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageError.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageIndicator.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageManager.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageOperation.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageOptionsProcessor.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImagePrefetcher.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/SDWebImageTransition.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/UIButton+WebCache.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/UIColor+HexString.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/UIImage+ForceDecode.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/UIImage+GIF.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/UIImage+MemoryCacheCost.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/UIImage+Metadata.h
WLBannerViewDemo/Pods/Headers/Private/SDWebImage/UIImage+MultiFormat.h
